body{
    width: 420px;
    margin: auto;
    background-image: url(sunny.png);
    background-size: 100% 120%;
  }
  
  
  h1{
    color: black;
    text-align: center;
    font-style: normal;
    border-bottom: 2px solid black;
    font-family: 'Audiowide', cursive;
    
  }
  
  h2{
    text-align: center;
  }
  
  /*
  #Xman{
    position: absolute;
    left: 0px;
    top: 15;
    max-width: 500px;
    padding: 1px;
  
  }
  
  #DP{
    position: absolute;
    right: 2px;
    top: 0px;
    bottom: 15;
    max-width: 320px;
    padding: 80px;
  }*/
  
  
  #restart{
    background-color: lightgreen;
    color: black;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px;
    transition-duration: 0.4s;
  }
  
  #restart {
    background-color: white; 
    color: black; 
    border: 2px solid blue;
  }
  
  #restart:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: lightgreen;
    color: black;
  }
  
  .wrapper {
    text-align: center;
  }
  
  
  #youhavewon{
    color: black;
    font-family: 'Audiowide', cursive;
    font-size: 20pt;
  }
  
  
  #board div {
      float: left;
      height: 120px;
      width: 120px;
      box-sizing: border-box;
      border: solid 3px black;
      display: inline-block;
      margin: 3px;
      font-size: 3em;
      color:black;
      text-align: center;
      line-height: 120px;
     vertical-align: middle;
      cursor: pointer;
      user-select: none;
      font-family: 'Audiowide', cursive;
    }
    
    #board div:nth-child(3n+1) {
      clear: both;
    }
  
    #clear {
      clear: both;
    }